@very-light-gray: #bbbbbc;
@light-gray: #8e8f90;
@gray: #333537;
@dark-gray: #1d1f21;
@very-dark-gray: #0e0f10;

@cyan: #96DCBE;
@blue: #2B57AB;
@lightblue: #7592C8;
@purple: #625A75;
@green: #197C58;
@red: #bc214b;
@lightred: #F7CBCC;
@orange: #fbd32f;
@light-orange: #FEF3C7;
@successgreen: #00B95D;

// colors I've added
@midnight-dark: #06132c;
@midnight: #071634;
@midnight-light: #091c43;
@tropical-light: #e5f3ff;
@tropical: #c2e3fe;
@tropical-dark: #9bd0fd;
@kashmir: #4d7391;
@banana: #f9eaad;
@rogue: #ac3d65;
@pale-green:#98fb98;
